.Dashboard-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #000133;
  }
  
  .header,
.footer {
  display: flex;
  background: #00022e;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #fc86aa;
}

.icon {
  padding: 10px;
}

.icon:hover {
  cursor: pointer;
}

.header-title {
  margin: auto;
}

.container {
  display: flex;
  flex: 1;

}


.drawer {
  background: lightgray;
  width: 0px;
  transition: width 0.7s;
  
}

#pinned-loc{
  margin-top: 10%;
}

.opened {
  width: 240px;
  
}

.main {
  flex: 1;
  background: hsl(0, 11%, 96%);

}

.locationlist{
  margin-left: 28% !important;
}
