
// .leaflet-container{
//     margin-top: 6vh;
// }
.btn-container{
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    margin-left: 11vh;
 
}
// Button{
//     margin-top: 1vh;
// }

.addLocation-btn{
    float: left;
    right: 15px;
  
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color:blue!important;
    
}
// .heatMap-main{
//     background-color:lightgrey
// }

